<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera">

  <!-- 讓相機模型為靜態物件 -->
  <gazebo>
    <static>true</static>
  </gazebo>

  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <xacro:macro name="usb_camera" params="prefix">
    <link name="${prefix}_link">
      <inertial>
        <mass value="0.1"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
      </inertial>
      <visual>
        <geometry>
          <box size="0.01 0.04 0.04"/>
        </geometry>
        <material name="black"/>
      </visual>
      <collision>
        <geometry>
          <box size="0.01 0.04 0.04"/>
        </geometry>
      </collision>
    </link>

    <!-- Gazebo 相機感測器設定 -->
    <gazebo reference="${prefix}_link">
      <sensor type="camera" name="${prefix}_camera">
        <update_rate>30.0</update_rate>
        <camera>
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
        </camera>
        <plugin name="${prefix}_gazebo_camera" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>/${prefix}/camera</cameraName>
          <imageTopicName>/${prefix}/image_raw</imageTopicName>
          <cameraInfoTopicName>/${prefix}/camera_info</cameraInfoTopicName>
          <frameName>${prefix}_link</frameName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <!-- 產生相機 -->
  <xacro:usb_camera prefix="usb_cam"/>
</robot>
